<section class="pie-chart-protos">
  <w-dialog
    v-model="dialogProtoDetailShow"
    :overlay-opacity="0.7"
    :title="dialogDetailTitle">
  <w-table 
    :headers="subTblProtos.headers" 
    :items="subTblProtos.items" 
    @row-click="showProtoDetails"
    style="height: 70vh"
    >
    <template #item-cell.ndpi_hostname="{ item, label, header, index }">
      <div v-if="item.ndpi_hostname" class="px2 text-center text-bold">
        {{ item.ndpi_hostname }}
      </div>
      <div v-if="!item.ndpi_hostname" class="px2 text-center text-bold">
        -
      </div>
    </template>
  </w-table>
  <w-button class="my6"
    @click="dialogProtoDetailShow = false"
    bg-color="error">
    Close
  </w-button>
</w-dialog>
<w-table 
  :headers="mainTable.headers" 
  :items="mainTable.items" 
  fixed-headers
  @row-click="getDetails"
  style="height: 200px"
  >
</w-table>

</section>