// setting WIDTH and HEIGHT of the eCharts pie-chart_component_container seems to be
// MANDATORY, as otherwise the chart is 0 pixel height and...
// nothing gets displayed :-(
.pie-chart-risks {
  width: 100%;
  height: 100%;
}

.dialogBox {
  max-height: 80vh;
  overflow-y: auto
}