<section class="pie-chart-risks">
  <w-dialog
    v-model="dialogRiskDetailShow"
    :overlay-opacity="0.7"
    :title="dialogDetailTitle">
  <w-table 
    :headers="tblRisks.headers" 
    :items="tblRisks.items" 
    @row-click="showFlowDetails"
    style="height: 70vh"
    >
    <template #item-cell.ndpi_hostname="{ item, label, header, index }">
      <div v-if="item.ndpi_hostname" class="px2 text-center text-bold">
        {{ item.ndpi_hostname }}
      </div>
      <div v-if="!item.ndpi_hostname" class="px2 text-center text-bold">
        -
      </div>
    </template>    
  </w-table>
  <w-button class="my6"
    @click="dialogRiskDetailShow = false"
    bg-color="error">
    Close
  </w-button>
</w-dialog>
<v-pie-chart-risks 
    :option="pieOptions" 
    v-on:dblclick="vonDblClick"
    autoresize />
</section>