<section class="flowdatatable">

  <w-switch class="mr6" thin v-model="onlyRiskyEvent" label='Only "risky" flows'></w-switch>
  <w-switch class="mr6" thin v-model="noEmptyProbes" label='No "empty probes"'></w-switch>
  <w-switch class="mr6" thin v-model="showOutgoingConnections" label='Show "Outgoing"'></w-switch>
  <w-switch class="mr6" thin v-model="showIncomingConnections" label='Show "Incoming"'></w-switch>
  <w-table class="ndpitablestyle my2"
    :headers="evts.headers" 
    :items="evts.items" 
    resizable-columns
    @row-click="getDetails">
    <template #item-cell.flow_id="{ item, label, header, index }">
      <div v-if="item.is_partial">
        {{ item.flow_id }} ❌
      </div>
      <div v-if="!item.is_partial">
        {{ item.flow_id }} ✔️
      </div>
    </template>    
    
    <template #item-cell.src_ip="{ item, label, header, index }">
      <div v-if="item.src_is_local" class="px2 text-center blue-dark6 success-light3--bg">
        {{ item.src_ip }}
      </div>
      <div v-if="!item.src_is_local" class="text-center">
        {{ item.src_ip }}
      </div>
    </template>

    <template #item-cell.asn="{ item, label, header, index }">
      <div>
        <span v-if="item.src_is_local && item.dst_is_local">
          internal traffic
        </span>
        <span v-else-if="(item.src_is_local || _isRFC1918(item.src_ip)) && (! _isRFC1918(item.dst_ip))">
          [{{ item.dst_ip_country }}] - {{ item.dst_ip_asn }}
        </span>
        <span v-else-if="(item.dst_is_local || _isRFC1918(item.dst_ip)) && (! _isRFC1918(item.src_ip))">
          [{{ item.src_ip_country }}] - {{ item.src_ip_asn }}
        </span>
        <span v-else>
          no resolution available
        </span>
      </div>
    </template>

    <template #item-cell.dst_ip="{ item, label, header, index }">
      <div v-if="item.dst_is_local" class="px2 text-center blue-dark6 success-light3--bg">
        {{ item.dst_ip }}
      </div>
      <div v-if="!item.dst_is_local" class="text-center">
        {{ item.dst_ip }}
      </div>
    </template>

    <template #item-cell.durations="{ item, label, header, index }">
      {{ item.srcDuration }} / {{ item.dstDuration }}
    </template>
    <template #item-cell.packets="{ item, label, header, index }">
      {{ item.src_num_packets }} / {{ item.dst_num_packets }}
    </template>

    <template #item-cell.is_simple_probe="{ item, label, header, index }">
      <div v-if="item.is_empty_probe">
        ✔️
      </div>
    </template>
    
    <template #item-cell.ndpi_hostname="{ item, label, header, index }">
      <div v-if="item.ndpi_hostname" class="px2 text-center text-bold">
        {{ item.ndpi_hostname }}
      </div>
    </template>

    <template #item-cell.ndpi_totalRisk="{ item, label, header, index }">
      <div v-if="item.ndpi_totalRisk" class="px2 text-center yellow-light6 error-dark3--bg text-bold">
        {{ item.ndpi_totalRisk }}
      </div>
    </template>
  </w-table>
</section>