.flowdatatable {
  // height: 100vh;
}

.dialogBox {
  max-height: 80vh;
//   max-width: 500px;
  overflow-y: auto
}

.ndpitablestyle {
  height: 350px;
}

// .w-table {
//   font-family: Arial, Helvetica, sans-serif;
// }

.w-table__cell {
  white-space: nowrap;
}