<section class="flowstats">
  <w-flex column>
    <w-flex>
      <div class="xs6 piechartrisks">
        <pie-chart-risks />
      </div>
      <div class="spacer"></div>
      <div class="xs3 tableprotos">
        <table-protos />
      </div>
    </w-flex>
    <w-flex column>
      <div class="xs12 ma2 flowdatatable grow">
        <!-- <w-card shadow>Antani</w-card> -->
        <flow-data-table />
      </div>
    </w-flex>
  </w-flex>
  <rt-flow-viewer />
</section>