.flowstats {
  // height: 100vh;
  // background-color: aqua;
  overflow-y: auto;  
}

.piechartrisks {
  // background-color:bisque;
  min-height: 35vh;
}

.tableprotos {
  // background-color:cadetblue;
  min-height: 35vh;
}

.flowdatatable {
  min-height: 50vh;
  overflow-y:scroll;
}