<w-app>
<section class="home">
  <!-- <w-flex fill-height column no-shrink> -->
  <w-flex column fill-height>

    <!-- Displaying the HEADER, with navigation buttons... but ONLY
         if BACKEND_SERVER is configured -->
    <div class="xs12" v-if="APIbackendConfigured">
      <w-toolbar shadow class="xs12">
        <!-- "nDPId engine stats" toolbar option-->
        <div v-if="$route.name!=='engine'">
          <w-button class="mx2" bg-color="info" route="/engine">nDPId engine stats</w-button>
        </div>
        <div v-else>
          <w-button class="mx2" bg-color="info" color="primary" outline disabled>nDPId engine stats</w-button>
        </div>

        <!-- "Traffic flow stats" toolbar option-->
        <div v-if="$route.name!=='flowstat'">
          <w-button class="mx2" bg-color="info" route="/flowstat">Traffic flow stats</w-button>
        </div>
        <div v-else>
          <w-button class="mx2" bg-color="info" color="primary" outline disabled>Traffic flow stats</w-button>
        </div>
        <div class="spacer"></div>
        <div class="mx2">nDPId-rt-analyzer - [v. {{ app_version }}]</div>
      </w-toolbar>
    </div>

    <!-- Displaying the HEADER, with NO navigation, as API BACKEND is NOT configure -->
    <div class="xs12" v-else>
      <w-toolbar shadow class="xs12">
        <div class="spacer"></div>
        <div class="mx2">nDPId-rt-analyzer - [v. {{ app_version }}]</div>
      </w-toolbar>
    </div>

    <div class="xs12 fill-height">
      <!-- Display the router view... (if API backend is configured)-->
      <div v-if="APIbackendConfigured">
        <router-view class="xs12" v-slot="{ Component }">
          <keep-alive>
            <component :is="Component" />
          </keep-alive>
        </router-view>
      </div>
      <!-- empty page, as BACKEND API is not configure -->
      <div v-else>
            <w-flex column >
            <div class="xs12"><h1>Unconfigured Backend!</h1></div>
            <div class="xs12"><h3>This tool requires a persistent connection with a related "backend".<br>
              Please, open "Settings" below and configure API BACKEND server and relevant options...</h3></div>
            </w-flex>
      </div>
    </div>

    <div class="spacer"></div>

    <!-- Display the footer -->
    <div class="xs12 pa0 ma0 ">
      <div class="white grey-dark6--bg pa2 justify-center align-center">
        <w-button
          class="mr5" xl
          @click="openSettingsPanel = true"
          text>
          <w-icon
            xl
            color="primary-light3">
            fa fa-cogs
          </w-icon>
        </w-button>
        <w-drawer
          v-model="openSettingsPanel"
          height="200px"
          bottom>
          <w-flex wrap class="text-center">
            <div class="xs3 pa1">
              <div>
                <w-card shadow>
                  <h1>Remote nDPISrvd connection</h1>
                  <div v-if="APIbackendConfigured">
                    <w-input v-model="remoteHost" :disabled="receiverTCPConnected">nDPISrvd Host</w-input>
                    <w-input v-model="remotePort" :disabled="receiverTCPConnected">nDPISrvd Host</w-input>
                    <div v-if="!receiverTCPConnected">
                      <w-button class="ma1" @click="startReceiver()">Connect to remote nDPISrvd</w-button>
                    </div>
                    <div v-if="receiverTCPConnected">
                      <w-button class="ma1" bg-color="error" @click="stopReceiver()">Disconnect remote nDPISrvd</w-button>
                    </div>
                  </div>
                  <div v-else>
                    <p class="grey-dark6">Cannot request remote nDPISrvd connection.</p>
                    <p class="grey-dark6">Please, set a Backend Server</p>
                  </div>
                </w-card>
              </div>
            </div>
            <div class="xs3 pa1">
              <div>
                <w-card shadow>
                  <h1>Backend Server</h1>
                  <w-input v-model="sAPIBackendText" :disabled="APIbackendConfigured">URL</w-input>
                  <div v-if="!APIbackendConfigured">
                    <w-button class="ma1" @click="setAPIBackend()">Set REST Backend</w-button>
                  </div>
                  <div v-if="APIbackendConfigured">
                    <w-button class="ma1" bg-color="error" @click="unsetAPIBackend()">Replace REST Backend</w-button>
                  </div>
                </w-card>
              </div>
            </div>            
            <div class="xs3 pa1">
              <w-card shadow mt8 py8>
                <h1>WebSocket Server</h1>
                <w-input v-model="sWebSocketBackendText" :disabled="webSocketBackendConfigured">URL</w-input>
                <div v-if="!webSocketBackendConfigured">
                  <w-button class="ma1" @click="setWebSocketBackend()">Set WebSocket Backend</w-button>
                </div>
                <div v-if="webSocketBackendConfigured">
                  <w-button class="ma1" bg-color="error" @click="unsetWebSocketBackend()">Replace WebSocket Backend</w-button>
                  <w-button v-if="webSocketState !== 1" class="ma1" bg-color="success" shadow @click="connectWS()">Connect the WebSocket</w-button>
                  <w-button v-if="webSocketState === 1" class="ma1" bg-color="error" shadow @click="disconnectWS()">Disconnect the WebSocket</w-button>
              </div>
              </w-card>
            </div>
            <div class="xs2 pa1">
              <w-card shadow mt8 py8>
                <h1>Local networks</h1>
                <h6 class="grey-dark6">{{ rtUIStore.ourNetworks.join('|') }}</h6>
                <w-input v-model="ourNetworksString">comma separated CIDRs</w-input>
                <w-button class="ma1" @click="updateLocalNetworks()">Set networks</w-button>
              </w-card>
            </div>
          </w-flex>
          <w-button
            @click="openSettingsPanel = false"
            sm
            outline
            round
            absolute
            icon="wi-cross">
          </w-button>
        </w-drawer>        

        <w-tag lg outline class="mr6" ><code>{{ $waveui.breakpoint.name }}</code></w-tag>
        
        <span v-if="APIbackendConfigured">
          Remote nDPIsrvd: 
            <w-tag v-if="!receiverTCPConnected" class="mr6" outline lg bg-color="error">NOT CONNECTED</w-tag>
            <w-tag v-if="receiverTCPConnected" class="mr6" outline lg bg-color="success">CONNECTED</w-tag>

          UDP receiver:
            <w-tag v-if="!receiverUDPConnected" class="mr6" outline lg bg-color="error">NOT LISTENING</w-tag>
            <w-tag v-if="receiverUDPConnected" class="mr6" outline lg bg-color="success">LISTENING</w-tag>

          WebSocket:
            <w-tag v-if="webSocketState !== 1" class="mr6" outline lg bg-color="error">NOT CONNECTED</w-tag>
            <w-tag v-if="webSocketState === 1" class="mr6" outline lg bg-color="success">CONNECTED</w-tag>          
        </span>
        <span v-else>
          API SERVER is *NOT* configured! Please, open 'settings' and set it...
        </span>
      </div>
    </div>
  </w-flex>
</section>
</w-app>
