// condensed: normal
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(@/assets/fonts/RobotoCondensed-Light.ttf) format('truetype');
}

// condensed: Italic
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(@/assets/fonts/RobotoCondensed-Italic.ttf) format('truetype');
}

// condensed: bold/normal
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(@/assets/fonts/RobotoCondensed-Bold.ttf) format('truetype');
}

// condensed: Bold/Italic
@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(@/assets/fonts/RobotoCondensed-BoldItalic.ttf) format('truetype');
}


