<section class="flow-viewer">
  <w-dialog v-model="dialogFlowDetailShow" 
    :title="dialogTitle"
    dialog-class="flowviewermodal">
    <json-viewer
      :value="jsonToDisplay"
      :expand-depth=2
      copyable
    />
    <w-button class="my6" @click="dialogFlowDetailShow = false" bg-color="error">
      Close
    </w-button>
  </w-dialog>
</section>
